@model List<EC_TH2012_J.Models.GiaoDien>
<div class="container no-padding">

    <div class="col-xs-12 col-md-3 logo-holder">
        <!-- ============================================================= LOGO ============================================================= -->
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img alt="logo" src="@Url.Content("~/images/")@Model[0].GiaTri" width="233" height="54" />
            </a>
        </div><!-- /.logo -->
        <!-- ============================================================= LOGO : END ============================================================= -->
    </div><!-- /.logo-holder -->
    <div class="col-xs-12 col-md-6 top-search-holder no-margin">
        <!-- ============================================================= SEARCH AREA ============================================================= -->
        <div class="search-area" style="margin-top: 30px;">
            @Html.Action("SearchForm", "Search")
        </div><!-- /.search-area -->
        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
    </div><!-- /.top-search-holder -->
    <div class="col-xs-12 col-md-3 top-cart-row no-margin">
        <div class="top-cart-row-container">
            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
            <div class="top-cart-holder dropdown animate-dropdown">

                <div class="basket">
                    @Html.Action("CartTitle", "Xuligiohang")
                </div><!-- /.basket -->
            </div><!-- /.top-cart-holder -->
        </div><!-- /.top-cart-row-container -->
        <!-- ============================================================= SHOPPING CART DROPDOWN : END ============================================================= -->
    </div><!-- /.top-cart-row -->
</div><!-- /.container -->
